
* {
    font-family: Verdana, serif;
    font-size: 16px;
    line-height: 19px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    &__marker {
        display: inline-block;
        width: 12px;
        height: 20px;
        background-color: #104e99;
    }
    &__title {
        margin-left: 12px;
        display: inline-block;
        text-transform: uppercase;
        color: #000;
        font-size: 20px;
        line-height: 67px;
    }
}

.content{
    padding: 10px;
    display: flex;
    border: 3px solid #f0f0f0;

    &__nav {
        flex: 0 0 39%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__btn {
        width: 100%;
        height: 95px;
        background-color: #f0f0f0;
        margin: 0 0 10px;

        &:last-child {
            margin: 0 0 0 0;
        }
        &:hover, &:focus {
            background-color: #cccccc;
        }
    }

    &__link { 
        width: 100%;
        height: 100%;
        text-align: center;
        color: #000;
        text-justify: center;
        display: flex;
        align-items: center;
        justify-content: center;
        &:active {
            background-color: #cccccc;
        }
    }

    &__img {
        padding: 0 0 0 10px;
        flex: 0 0 57%;
        width: 100%;
        
        & img {
            object-fit: none;
            object-position: center;
        }
    }
    
    &__text {
        margin: 10px 0 0 10px;
    }

    &__item {
        display: none;
        // &:first-child {
        //     display: block;
        // }
        /* Включается нужный текст */
        &:target {
            display: block;
        }
    }
    &__info {
        &:target .content__item6 {
            display: none;
        }
    }    
}

@media (max-width: 700px) {
    
    .content__img {
        margin: 10px 0;
        padding: 0;
    }
    .content__nav {
        display: none;
    }
    .content__item {
        display: block;
    }
    .mobile {
        display: block;
    }
 }

 @media (max-width: 400px) {
     .header__title {
         font-size: 14px;
     }
 }

    